@import "color";
@import "mixins/mixins";

form {
  input {
    &.field-text,
    &.field-date {
      height: 60px;
    }
    &.field-date {
      background-image: url("../images/icon-calendar.png");
      background-repeat: no-repeat;
      background-position: right center;
      float: left;
    }
    &.submit, &.form-submit {
      @include btn-linear-gradient(#2984BD, #0936F5);
      border: none;
      width: 396px;
      height: 66px;
      font-size: 15px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: $colorWhite;
      outline: none;
      @include border-radius(0px);
      @include box-shadow(0, 0, 30px, rgba(9, 54, 245, .25));
      &:hover, &.active, &:active {
        @include btn-linear-gradient(#2881B8, #0830E4);
        color: $colorWhite;
        @include box-shadow(0, 0, 30px, rgba(9, 54, 245, .5));
      }
    }
  }
  textarea {
    &.field-long-text {
      border-top: 1px solid $colorCharcoal !important;
      height: 95px;
      resize: none;
    }
  }

  input.field-text,
  input.field-date,
  textarea.field-long-text {
    background-color: $colorNightRider;
    border: none;
    padding: 12px 14px;
    width: 396px;
    font-size: 14px;
    color: $colorWhite;
    text-transform: uppercase;
    outline: none;
    @include border-radius(0px);
    &:focus {
      background-color: $colorNightRider;
      color: $colorWhite;
      @include box-shadow-none();
    }
  }
  input.field-text,
  textarea.field-long-text {
    margin-bottom: 16px;
  }

  .grippie, .ajax-progress {
    display: none !important;
  }

  .form-item {
    margin: 0;
  }
}

#node-10 .webform-client-form {
  max-width: 396px;
}