@import "color";
@import "mixins/mixins";

.menu-container {
  background-color: $colorWhite;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  width: 104px;
  overflow: hidden;
  z-index: 10;
  @include transition(width .4s ease);
  &:hover {
    width: 420px;
    @include transition(width .4s ease);
    .logo-container {
      .logo-min {
        visibility: hidden;
        opacity: 0;
        @include transition(visibility .4s ease);
        @include transition(opacity .4s ease);
      }
      .logo {
        visibility: visible;
        opacity: 1;
        @include transition(visibility .4s ease);
        @include transition(opacity .4s ease);
      }
    }
    ul {
      &.menu {
        li {
          &:before {
            content: '';
            @include absolute-center();
            width: 48px;
            height: 48px;
            display: block;
            background-color: $colorWhite;
            z-index: -1;
            @include border-radius(50%);
            @include transition(background-color .4s ease);
          }
          &:after {
            visibility: hidden;
            opacity: 0;
          }
          a {
            color: $colorDarkGray;
            visibility: visible;
            opacity: 1;
            @include transition(color .4s ease .2s);
            @include transition(visibility .4s ease .2s);
            @include transition(opacity .2s ease .2s);
          }
          &.active, &:hover {
            &:before {
              background-color: $colorWhiteSmoke;
              @include transition(background-color .4s ease);
            }
            a {
              color: $colorBlack;
              @include transition(color .4s ease .2s);
              @include transition(visibility .4s ease .2s);
              @include transition(opacity .2s ease .2s);
            }
          }
        }
      }
    }
    .contact-menu {
      background-color: $colorWhiteSmoke;
      > * {
        visibility: visible;
        opacity: 1;
        position: relative;
        z-index: 1;
        @include transition(visibility .4s ease);
        @include transition(opacity .4s ease);
      }
      &:after {
        visibility: hidden;
        opacity: 0;
      }
      &:before {
        background-color: $colorWhisper;
        content: '';
        position: absolute;
        width: 310px;
        height: 310px;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        top: -68px;
        z-index: 0;
        @include border-radius(50%);
      }
    }
  }
  .logo-container {
    height: 350px;
    position: relative;
    .logo-min, .logo {
      display: block;
      margin: 0 auto;
      top: 45px;
      left: 0;
      right: 0;
      position: absolute;
    }
    .logo-min {
      visibility: visible;
      opacity: 1;
      @include transition(visibility .4s ease);
      @include transition(opacity .4s ease);
    }
    .logo {
      visibility: hidden;
      opacity: 0;
      @include transition(visibility .4s ease);
      @include transition(opacity .4s ease);
    }
  }
  ul {
    &.menu {
      list-style: none;
      color: $colorDarkGray;
      li {
        border: none;
        list-style: none;
        width: 100%;
        float: left;
        padding: 17px 0;
        color: $colorDarkGray !important;
        text-align: center;
        position: relative;
        white-space: nowrap;
        margin-top: 2px;
        margin-bottom: 2px;
        &:before, &:after {
          content: '';
          @include absolute-center();
          display: block;
          z-index: 1;
          @include border-radius(50%);
        }
        &:before {
          width: 34px;
          height: 34px;
          background-color: $colorWhite;
        }
        &:after {
          width: 10px;
          height: 10px;
          background-color: $colorLightGray;
        }
        &:hover, &.active {
          &:before {
            background-color: $colorGhostWhite;
          }
          &:after {
            background-color: $colorBlue;
          }
        }

        a {
          visibility: hidden;
          position: relative;
          color: $colorWhite;
          font-size: 19px;
          line-height: 100%;
          text-decoration: none;
          text-transform: uppercase;
          opacity: 0;
          @include transition(color .4s ease .2s);
          @include transition(visibility .4s ease .2s);
          @include transition(opacity .2s ease .2s);
          &:hover {
            color: $colorBlack;
          }
        }
        &.active, &:hover {
          a {
            color: $colorBlack;
          }
        }
      }
    }
  }

  .contact-menu {
    width: 100%;
    height: 174px;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    > * {
      visibility: hidden;
      opacity: 0;
      @include transition(visibility .4s ease);
      @include transition(opacity .4s ease);
    }
    &:after {
      content: '';
      background-image: url("../images/icon-menu-contact-after.png");
      width: 32px;
      height: 32px;
      display: block;
      @include absolute-center();
      top: -35px;
    }
    .phone {
      font-size: 24px;
      color: $colorBlack;
      margin: 36px 0 15px;
      a {
        color: $colorBlack;
      }
    }
    .email {
      font-size: 19px;
      color: $colorSuvaGrey;
      a {
        color: $colorSuvaGrey;
      }
    }
    ul {
      list-style: none;
      &.link-social {
        width: 192px;
        text-align: center;
        display: block;
        margin: 16px auto 0;
        li {
          border: none;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          float: left;
          margin: 0 4px;
          a {
            border: 1px solid $colorVeryLightGrey;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: $colorBlack;
            text-decoration: none;
            @include border-radius(50%);
            &:hover {
              background-color: $colorBlue;
              border: 1px solid $colorBlue;
              width: 40px;
              height: 40px;
              line-height: 40px;
              color: $colorWhite;
            }
          }
        }
      }
    }
  }

}