@import "color";
@import "mixins/mixins";

.success_form_popup {
  position: fixed;
  background-color: rgba($coloNero, .85);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  visibility: hidden;
  opacity: 0;
  @include transition(all .4s ease);
  &.open {
    visibility: visible;
    opacity: 1;
    @include transition(all .4s ease);
  }

  .success_form_popup_content {
    width: 300px;
    height: 240px;
    padding: 20px;
    background-color: $coloNero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include absolute-center();
    @include box-shadow(0, 0, 30px, rgba($colorWhite, 0.25));
    .text {
      color: $colorWhite;
      p {
        font-size: 21px;
        line-height: 125%;
        margin-bottom: 24px;
        text-align: center;
      }
    }
    .btn-custom {
      height: 64px;
      margin: 0;
    }
  }
}

.container-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  visibility: hidden;
  opacity: 0;
  @include transition(all .4s ease);
  .container-popup-bg {
    background-color: rgba($coloNero, .85);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &.open {
    visibility: visible;
    opacity: 1;
    @include transition(all .4s ease);
  }
  .container-popup-content {
    background-color: $coloNero;
    width: 500px;
    height: 490px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    @include box-shadow(0, 0, 30px, rgba($colorWhite, 0.25));
    @include absolute-center();
    h2 {
      font-size: 28px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 24px;
      color: $colorWhite;
    }
    .block {
      margin: 0;
      padding: 0;
    }
  }
}